@charset "UTF-8";
* {
    /*box-sizing: border-box; */
}

/* TOPバナーを固定する方法 */
#top {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left:50%;
    transform: translate(-50%, -20%);
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

p.down {
    margin-top: 90px;
}

a {
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    margin: 0px auto 15px;
    text-decoration: none;
    display: block;
    color: #000;
    background-color: white;
    border: 2px solid #000;
}

a:hover {
    color: #fff;
    background-color: black;
}

h1 {
    font-size: 50px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
    letter-spacing: 0.1em;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
}

h2::before {
    content: "【";
    color: blue;
}

h2::after {
    content: "】";
    color: blue;
}
.topic {
    text-align: center;
}
.rule {
    text-align: center;
    display: block;
}

.ask {
    text-align: center;
    display: block;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: inline-block;
}

.text {
    font-size: 20px;
}

.last {
    text-align: center;
}

input.judge {
    font-size: 20px;
    display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 40px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
  /* 相対位置の指定(元々の場所からの移動)*/
  position: relative;
  left: 17px; /* 左から15px移動させて表示 */
}

input.judge:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.check {
    display: block;
    font-size: 15px;
    text-align: center;
}

.check::before {
    content: "※";
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

small {
    background-color: black;
}

span {
    font-weight: bold;
}

span.b {
    color: red;
}

span.tb {
    color: red;
    background-color: rgb(80, 136, 211);
}

.big {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.ans{
    text-align: center;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; 
}

.show {
    width: 130px;
    margin-bottom: 6px;
    margin-left: 6px;
}

.hshow {
    width: 100px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.qpic {
    margin: 0 10px 10px;
}

ul li{
    list-style-type: none;
    border-bottom: 2px solid gray;
    margin: 0px auto 100px;
    width: 90%;
}

.us {
    font-size: 15px;
}

ul li .sentence{
    text-align: center;
}

label {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 7px;
}

label p {
    border: 2px solid black;
    width: 150px;
    text-align: center;
}

label p:hover {
    background-color: rgb(236, 202, 138);
}

input:checked + label p {
    background: orange;
}
label p {
    margin: 0;
}

/* ラジオボタン自体を見えなくする */
input.rad {
    display: none;
}

/* ゆっくり表示させる */
@keyframes
    open-keyanime1{ /* アニメーションの動き */ 
    0% {
    opacity:0; /* 完全に透明 */ } 
    100% {
    opacity:1; /* 透明度無し、通常表示 */ } } 

  .animation1{ 
    animation-name: open-keyanime1 ; 
    animation-duration: 8s; /* 5秒間で表示 */ 
    animation-fill-mode: both;
  }

@media (max-width:767px) {
.show {width: 35px;}
.qpic {width: 150px;}
main.first {background-size: 100px;}
}

main.first {
    background-image: url(images/brain.png);
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: contain;
}

main.second {
    background-image: url(images/hpic7.jpg);
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: contain;
}